{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner animated fadeIn faster">
		<h1>{{ .Title }}</h1>
        <h3 id="enquiries">Enquiries</h3>
        <p>Are you interested in partnering with us? Contact us at <a href="mailto://macs.exec@gmail.com">macs.exec@gmail.com</a></p>
		{{- if .Content }}
		<div class="content sponsors-container grid max-image-size">
			{{ .Content }}
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
