h1, h2, h3 {
    color: #95c5f1;
}

#home-title {
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

#title-first-two {
    color: #95c5f1;
}

.social-icon-discord {
    transform: translate(0, 9px);
}

.social-icon:hover {
    transition: 0.2s;
    filter: drop-shadow(0 0 1.25px #fff);
}

.single-title {
    color: #95c5f1;
}

.max-image-size p:nth-of-type(2) img {
    padding-top: 3em;
}

.max-image-size img {
    min-width: 60%;
    max-width: 60%;
    padding: 2em 0;
}
